/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/*
  TYPOGRAPHIC GRID PROPERTIES:
  Base font-size: 23px
  Base line-height: 28px
  Modular scale: 1.2
    https://www.modularscale.com/?23&px&1.2
*/
html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.125em;
  line-height: 1.33em;
  padding: 0.5em;
  background:#333333 ;
  color: #FFFFFF;


}



h2,
h3,
p {
  padding-bottom: 0.5em;
}

h1 {
  color: black;
  font-size: 2em;
  font-weight: bold;
  padding-bottom: 0.5em;
}

h2 {
  padding-top: 0.5em;
  font-size: 1.5em;
  font-weight: bold;
  background-color: #666699;
  text-align: center;
}

h3 {
  font-size: 1.25em;
  font-weight: bold;
}

h4 {
  font-size: 1.15em;
  padding-bottom: 0.5em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.095em;
}

img {
  padding: 1em;
  max-width: 25%;
}

li {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
ul{
  padding-bottom: 0.5em;
}



/* Id */
#footer {
  padding-top: 1em;
  text-align: center;
  width: 100%;
}
#nav li {
  display: inline;
  padding: 0.25em;
  background: #ADD8E6;
}

#header {
  text-align: center;
}



