/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/*
  TYPOGRAPHIC GRID PROPERTIES:
  Base font-size: 23px
  Base line-height: 28px
  Modular scale: 1.2
    https://www.modularscale.com/?23&px&1.2
*/
/*
Half padding: 0.666666666em;
single paddding: 1.333333333em;
Double padding:2.666666666em;

*/
.html {
  font-family: Arial, sans-serif;
  font-size: 1.125em;
  line-height: 1.333em;
  background: #333333 ;
  color: #FFFFFF;
}



h1 {
  font-size: 2.111em; /*38/18 = 2.111*/
  line-height: 1.333em;
  font-weight: bold;
  padding-bottom: 0.6666667em; /*12/18 = 0.666667*/
}

h2 {
  font-size: 1.38888888888em; /*25/18 = 1.3888888em*/
  font-weight: bold;
  background-color: #666699;
  text-align: center;
  padding: 0.277777777em; /*5/18 = 0.27777777*/
  
}

h3 {
  font-size: 1.1111111em; /*20/18 = 1.1111111em*/
  font-weight: bold;
  padding: 0.277777777em; /*5/18 = 0.27777777*/
  
}

h4 {
  font-size: 1em;   
  padding-bottom: 0.667777em; /*12/18 = 0.666667*/
}

h5 {
   font-size: 0.833em; /*15/18 = 0.83333*/
}

h6 {
  font-size: 0.667777em; /*12/18 = 0.666667*/
}


li {
  padding: 0.277777777em; /*5/18 = 0.27777777*/
}
ul {
   padding-bottom: 0.667777em; /*12/18 = 0.666667*/
  }

img {
  padding: 1em;/*18/18 = 1em*/
  max-width: 25%;
  height: auto;
  object-fit: fill;
}

figcaption {
  font-size: 1em;   /*18/18 = 1em*/
  padding: 0.667777em; /*12/18 = 0.666667*/
  text-align: center;
  color: #fff;
}



/* Id */
#footer {
  padding-top: 1em; /*18/18 = 1em*/
  text-align: center;
  width: 100%;
}
#nav li {
  display: inline;
  padding: 0.277777777em; /*5/18 = 0.27777777*/
  background: #ADD8E6;
}

#header {
  text-align: center;
  color: white;
}
#information {
  background: #666699;
}

#information a {
  background: #ADD8E6;
}
#project h3 {
  padding-top: 0.277777777em; /*5/18 = 0.27777777*/
  font-size: 1.1111111em; /*20/18 = 1.1111111em*/
  font-weight: bold;
  background-color: #666699;
  text-align: center;
}
#project li {
  text-align: center;
}

#project a {
  background-color: #ADD8E6;
}

#kaunas a {
  background-color: #ADD8E6;
}

#skills {
  text-align: center;
}


@media screen and (min-width: 40.625em) {
  .wrapperedu {
    display: flex;
  }
  .columnedu {
    flex: 50%;
  }
  img {
    padding: 1em;  /*18/18 = 1em*/
    height: auto;
  }
}

@media screen and (min-width: 46.25em) {
  .wrapper {
    display: flex;
  }
  .column {
    flex: 50%;
  }
  .wrapperwork {
    display: flex;
  }
  .columnwork {
    flex: 50%;
  }
  
}







